.App {
  max-width: 1280px;
  margin: 2rem auto;
  padding: 2rem;
  text-align: center;
  background-color: #ddd;
}

.WordGenerator {
  align-items: center;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  background-color: #f9f9f9;
  border: 2px solid #ddd;
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #dd0000;
}
.ResultWord {
  align-items: center;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  padding: 1rem;
  margin: 1rem 0 0 0;
  font-size: 2.5rem;
  color: #0e7900;
}
