.WebPage{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #5becff;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.WordGeneratorBox {
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: auto;
}

#generatorTitle {
  font-size: 50px;
  font-style: italic;
  padding: 15px;
  color:rgb(4, 71, 43)
}

.ResultWord {
  font-size: 45px;
  font-weight: bold;
  padding: 15px;
  color: #c2044d;
}

button {
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 25px;
  cursor: pointer;
  border-radius: 8px;
}

.CanvasArea{

  border: 25px solid black;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: auto;
}